<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <div *ngFor="let block of blocks | keyvalue" class="form-row">
      <h3>Блок {{block.key}}</h3><br>
      <div *ngFor="let element of block.value.getElementsOrdered()" [id]="block.key" class="form-row">
        <app-question [element]="element" [form]="form"></app-question>
      </div>
      <br>
    </div>


<!--    <div class="form-row">-->
<!--      <button type="submit" [disabled]="!form.valid">Save</button>-->
<!--    </div>-->
  </form>
</div>
