<div>
  <label [attr.for]="element.key">{{element.label}}</label>

  <div [ngSwitch]="element.type">

    <input *ngSwitchCase="'stringList'" [id]="element.key" [type]="element.controlType" class="form-control">

    <input *ngSwitchCase="'numberList'" [id]="element.key" [type]="element.controlType" class="form-control">

    <textarea *ngSwitchCase="'textList'" [id]="element.key" [cols]="textAreaElement.cols" [rows]="textAreaElement.rows" class="form-control"></textarea>

    <input *ngSwitchCase="'checkBoxList'" [id]="element.key" [type]="element.controlType" class="form-control">

    <select [id]="element.key" *ngSwitchCase="'dropDownList'" class="form-control">
      <option *ngFor="let opt of element.options" [value]="opt.key">{{opt.value}}</option>
    </select>

    <select [id]="element.key" *ngSwitchCase="'selectNumRangeConditionList'" class="form-control">
      <option *ngFor="let opt of element.options" [value]="opt.key">{{opt.value}}</option>
    </select>

  </div>

  <div class="errorMessage" *ngIf="!isValid">{{element.label}} is required</div>
</div>
