<div class="container-fluid">
  <div>
    <h2>Please Login</h2>
    <br>
  </div>
  <div>
    <h4><a (click)="googleSignIn()" type="button" class="btn btn-link">Login with Google</a></h4>
  </div>
  <div><p>OR</p></div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" type="text" formControlName="email" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"/>
      <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
        <div *ngIf="f['email'].errors['required']">Username is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"/>
      <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
        <div *ngIf="f['password'].errors['required']">Password is required</div>
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Login
      </button>
      <a routerLink="/registration" class="btn btn-link">Registration</a>
    </div>
  </form>
</div>
