<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="onOpenModal(null, 'add')">Новый опрос<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<h3>Опросы:</h3>
<br/>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container" id="main-container">
  <div class="row">
    <div class="col-lg-12">
      <div class="main-box clearfix">
        <div class="table-responsive">
          <table class="table item-list">
            <thead>
            <tr>
              <th><span>Идентификатор</span></th>
              <th><span>UUID</span></th>
              <th class="text-center"><span>Имя</span></th>
              <th><span>Дата создания</span></th>
              <th>Статус</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let survey of surveyList">
              <td>{{survey.surveyId}}</td>
              <td>{{survey.uuidId}}</td>
              <td>{{survey.name}}</td>
              <td>{{survey.fd}}</td>

              <td class="text-center">
                <span *ngIf="survey.enabled" class="label label-default">Активен</span>
                <span *ngIf="!survey.enabled" class="label label-default">Не активен</span>
              </td>

              <td style="width: 20%;">
                <a class="table-link">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
									</span>
                </a>
                <a (click)="onOpenModal(survey, 'update')" class="table-link">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
									</span>
                </a>
                <a (click)="onOpenModal(survey, 'delete')" class="table-link danger">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
									</span>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
<!--        <ul class="pagination pull-right">-->
<!--          <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>-->
<!--          <li><a href="#">1</a></li>-->
<!--          <li><a href="#">2</a></li>-->
<!--          <li><a href="#">3</a></li>-->
<!--          <li><a href="#">4</a></li>-->
<!--          <li><a href="#">5</a></li>-->
<!--          <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>-->
<!--        </ul>-->
      </div>
    </div>
  </div>
</div>

<!-- Add survey Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
     aria-hidden="true">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Add survey</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddSurvey(addForm)">
          <div class="form-group">
            <label for="name">Имя опроса</label>
            <input type="text" ngModel name="name" class="form-control" id="addSurveyName" placeholder="Название опроса" required>
          </div>

          <div class="modal-footer">
            <button type="button" id="add-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

<!-- Update survey Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalLabel">Изменить {{updateSurvey?.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #updateForm="ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ngModel="{{updateSurvey?.name}}" name="name" class="form-control" id="name"
                   aria-describedby="emailHelp" placeholder="Name">
          </div>

          <div class="form-group">
            <button (click)="onEditForm(updateSurvey?.uuidId)" data-dismiss="modal" class="btn btn-secondary">Редактор формы опроса</button>
          </div>

          <input type="hidden" ngModel="{{updateSurvey?.surveyId}}" name="id" class="form-control" id="id"
                 placeholder="Email">


          <div class="modal-footer">
            <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
            <button (click)="onUpdateItem(updateForm.value)" data-dismiss="modal" class="btn btn-primary">Save
              changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Удалить опрос</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Вы точно хотите удалить опрос {{deleteSurvey?.name}}?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button (click)="onDeleteItem(deleteSurvey?.surveyId)" class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>
