<nav *ngIf="authenticationService.isAuthenticated" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="">Формы</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/survey" routerLinkActive="['active']" href="survey">Опросы</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/document" routerLinkActive="['active']" href="document">Документы</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/history" routerLinkActive="['active']" href="history">История</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/settings" routerLinkActive="['active']" href="settings">Настройки</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Выйти</a>
      </li>
    </ul>
  </div>
</nav>


<!-- Page Content -->
<div id="content">
  <alert></alert>
  <router-outlet></router-outlet>

</div>
