<h2>Добавление блока в форму</h2>
<form id="formBlock">

  <label for="blockEnabled">Отображается по умолчанию:</label>
  <select id="blockEnabled" class="form-control">
    <option value="1">Да</option>
    <option value="0">Нет</option>
  </select>
  <br>

  <button type="button" (click)="addBlock()" class="btn btn-primary">Добавить блок</button>
</form>


<h2>Добавление элемента в форму</h2>
<form [formGroup]="newElementForm" id="form1">
  <label for="elementType">Тип элемента:</label>
  <select id="elementType" formControlName="elementType" (change)="updateAdditionParams(elementType.value);" #elementType class="form-control">
    <option value="numberList">Число</option>
    <option value="stringList">Строка</option>
    <option value="textList">Текст</option>
    <option value="checkBoxList">Чек бокс</option>
    <option value="geoCoordList">Геокоординаты</option>
    <option value="selectNumRangeConditionList">Выбор из списка</option>
  </select>
  <br>

  <label for="elementName">Текстовое название элемента:</label>
  <input id="elementName" formControlName="elementName" type="text" class="form-control"/>
  <br>

  <label for="elementInternalName">Внутреннее имя элемента:</label>
  <input id="elementInternalName" formControlName="elementInternalName" type="text" class="form-control"/>
  <br>

  <label for="elementIsRequired">Обязательно ли заполнение:</label>
  <select id="elementIsRequired" formControlName="elementIsRequired" class="form-control">
    <option value="1">Да</option>
    <option value="0">Нет</option>
  </select>
  <br>

  <div id="form1AdditionElements" *ngFor="let item of addonElements.getElementsOrdered()">
    <app-question [element]="item" [form]="addonElementsFormGroup"></app-question>
  </div>

  <button type="button" (click)="addElement()" class="btn btn-primary">Добавить</button>
</form>

<button type="button" (click)="save()" class="btn btn-primary">Сохранить опрос</button>

<h2>Перечень блоков</h2>
<div id="blocksDiv" *ngFor="let block of survey['blocks'] | keyvalue">
  <div [ngStyle]="{'fontWeight': block.key == currentBlockName ? 'bold': '' }" (click)="updateCurrentBlockName(block.key)">{{block.key}}</div>
</div>

<hr>
<br>
<h2>Форма опроса</h2>

<div>
  <app-dynamic-form [blocks]="survey.blocks"></app-dynamic-form>
</div>
