<h1>Создание и управление формами</h1>
<p>Вы можете создавать как опросы так и документы</p>
<!--Немного о разделах меню -->

<p>Опрос - это заранее подготовленная форма в которой содержатся поля которые пользователю необходимо заполнить.
  Поля могут быть разных типов. Обязательные и необязательные.
  После заполнения опроса информация попадет базу данных и через раздел история можно посмотреть полученные результаты опросов.
</p>

<p>Документ - это так же заранее подготовленная форма в которой содержатся поля которые пользователю необходимо заполнить.
  Поля могут быть разных типов. Обязательные и необязательные. Отличие в том что если поля уже были заполнены кем-то ранее, то
  открыв документ пользователь увидит заполненные значения которые он может обновить в документе и сохранить. После чего при открытии
  документа в полях уже будут отображаться обновленные значения.
</p>

<h2>История</h2>
<p>В данном разделе можно посмотреть историю заполнения опросов и обновлений документов</p>
<!-- Тут вы можете найти текущий статус ваших точек мониторинга -->

<h2>Настройки</h2>
<p>Персональные настройки</p>


<h2>Выйти</h2>
<p>Выход из личного кабинета</p>
